* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 50px;
}

p.text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: red;
    transition: width 0.3s;
}

p.text:hover::after{
    width: 100%;
}

p.text {
    display: inline-block;
    position: relative;
}