.sidebar {
    min-width: 30vh;
    background-color: var(--bg-white);
    border-right: 1px solid var(--border-color);
    padding: 20px;
    display: flex;
    flex-direction: column;

    transition: min-width 0.35s ease;
}

@media screen and (max-width: 640px) {
    .sidebar {
        min-width: 25vh;
    }
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sidebar-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 3px;
    padding-left: 5%;
    scale: 1.1;
}

.sidebar-header h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: center;
    padding-left: 15%;
}

.nav-menu {
    list-style: none;
    flex-grow: 1;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 100%;
    text-decoration: none;
    color: var(--text-secondary);
    border-radius: 50px;

    transition: 
    background-color 0.25s ease-in, 
    scale 0.5s ease,
    opacity 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(0, 102, 204, 0.75);
    color: white;
    scale: 0.95;
}

.nav-link.active {
    background-color: rgba(0, 102, 204, 0.1);
    color: var(--accent-blue);
    scale: 0.95;
}

.nav-link i {
    margin-right: 15px;
    width: 20px;
    text-align: center;
}

.sidebar-footer {
    margin-top: auto;
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    grid-template-columns: 3fr 5fr 2fr;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-left: 5%;
    padding-top: 2.3%;
    scale: 1.25;
    align-items: center;

    transition: 
    scale 0.35s ease-out;
}

.profile-picture:hover {
    cursor: pointer;
    scale: 1.5;
}

.user-details {
    flex-grow: 1;
    padding-left: 6%;
    align-items: centerx;
}

.user-name {
    font-weight: 500;
    font-size: 14px;
}

.user-email {
    color: var(--text-secondary);
    font-size: 12px;
}

.logout-btn {
    background: none;
    border: 0;
    color: var(--text-secondary);
    cursor: pointer;
    align-items: center;
    scale: 1.1;
    transition: scale 0.35s ease-out;
}

.logout-btn:hover {
    scale: 1.25;
}